@model SuperAdminRoleViewModel
    <link rel="stylesheet" href="~/css/style2.css">

    <div class="reservation_scroll">
        <div id="reservation">
            <div class="reservation_top">
                <div>Bilgiler</div>
                <div>Nereden Nereye</div>
                <div>Yolcu Bilgileri</div>
                <div>Şöför Bilgileri</div>
                <div>Ödeme Bilgileri</div>
            </div>

            <div id="reservation_area">
                <div class="reservation_wrapper">
                    <div class="reservation_flex">
                        <div class="reservation_card">
                            <div class="card_1">
                                <span>- 27 Aralık 2023</span>
                                <span class="time">- 17:30 / 18:30</span>
                                <span class="plane"><img src="./img/plane.png">TK78458 (Ankara)</span>
                            </div>
                            <div class="card_2">
                                <div class="card_2_alt">
                                    <span>Konum</span>
                                    <span class="user_location">
                                        Sabiha Gökçen Uluslararası
                                        Havalimanı (SAW)
                                    </span>
                                </div>
                                <div class="card_2_alt">
                                    <span>Hedef</span>
                                    <span class="user_location">Hills Otel</span>
                                </div>

                            </div>
                            <div class="card_3">
                                <span>
                                    <i class="fas fa-user"></i>
                                    <span>
                                        Ahmet Can Tiryaki
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-phone-alt"></i>
                                    <span>+905339401855</span>
                                </span>
                                <span class="customer-count">
                                    <i class="fas fa-users"></i> 4
                                </span>
                                <span class="customer-bag">
                                    <i class="fas fa-suitcase-rolling"></i> 3
                                </span>
                            </div>
                            <div class="card_4">
                                <span>
                                    <i class="fas fa-user"></i>
                                    <span>
                                        Ahmet Can Tiryaki
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-car"></i>
                                    <span>
                                        Mercedes-Benz / Vito
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-phone-alt"></i>
                                    <span>+905339401855</span>
                                </span>
                            </div>
                            <div class="card_5">
                                <span><i class="fas fa-credit-card"></i> <b>34.00 $ (ödeme)</b></span>
                                <span><i class="fas fa-money-check-alt"> </i><b> 40.00 $ (brüt)</b></span>
                            </div>
                        </div>
                        <div class="card-buttons">
                            <button class="btn-detail">Detaylar</button>
                            <button class="btn-problem">Sorun Bildir</button>
                            <button class="btn-assign">Atamak</button>
                            <button class="btn-cancel">Reddetmek</button>
                            <button class="btn-cns">CNS Kanıtı Yükleyin</button>
                        </div>
                    </div>
                    <div class="reservation_flex">
                        <div class="reservation_card">
                            <div class="card_1">
                                <span>- 27 Aralık 2023</span>
                                <span class="time">- 17:30 / 18:30</span>
                                <span class="plane"><img src="./img/plane.png">TK78458 (Ankara)</span>
                            </div>
                            <div class="card_2">
                                <div class="card_2_alt">
                                    <span>Konum</span>
                                    <span class="user_location">
                                        Sabiha Gökçen Uluslararası
                                        Havalimanı (SAW)
                                    </span>
                                </div>
                                <div class="card_2_alt">
                                    <span>Hedef</span>
                                    <span class="user_location">Hills Otel</span>
                                </div>

                            </div>
                            <div class="card_3">
                                <span>
                                    <i class="fas fa-user"></i>
                                    <span>
                                        Ahmet Can Tiryaki
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-phone-alt"></i>
                                    <span>+905339401855</span>
                                </span>
                                <span class="customer-count">
                                    <i class="fas fa-users"></i> 4
                                </span>
                                <span class="customer-bag">
                                    <i class="fas fa-suitcase-rolling"></i> 3
                                </span>
                            </div>
                            <div class="card_4">
                                <span>
                                    <i class="fas fa-user"></i>
                                    <span>
                                        Ahmet Can Tiryaki
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-car"></i>
                                    <span>
                                        Mercedes-Benz / Vito
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-phone-alt"></i>
                                    <span>+905339401855</span>
                                </span>
                            </div>
                            <div class="card_5">
                                <span><i class="fas fa-credit-card"></i> <b>34.00 $ (ödeme)</b></span>
                                <span><i class="fas fa-money-check-alt"> </i><b> 40.00 $ (brüt)</b></span>
                            </div>
                        </div>
                        <div class="card-buttons">
                            <button class="btn-detail">Detaylar</button>
                            <button class="btn-problem">Sorun Bildir</button>
                            <button class="btn-assign">Atamak</button>
                            <button class="btn-cancel">Reddetmek</button>
                            <button class="btn-cns">CNS Kanıtı Yükleyin</button>
                        </div>
                    </div>
                    <div class="reservation_flex">
                        <div class="reservation_card">
                            <div class="card_1">
                                <span>- 27 Aralık 2023</span>
                                <span class="time">- 17:30 / 18:30</span>
                                <span class="plane"><img src="./img/plane.png">TK78458 (Ankara)</span>
                            </div>
                            <div class="card_2">
                                <div class="card_2_alt">
                                    <span>Konum</span>
                                    <span class="user_location">
                                        Sabiha Gökçen Uluslararası
                                        Havalimanı (SAW)
                                    </span>
                                </div>
                                <div class="card_2_alt">
                                    <span>Hedef</span>
                                    <span class="user_location">Hills Otel</span>
                                </div>

                            </div>
                            <div class="card_3">
                                <span>
                                    <i class="fas fa-user"></i>
                                    <span>
                                        Ahmet Can Tiryaki
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-phone-alt"></i>
                                    <span>+905339401855</span>
                                </span>
                                <span class="customer-count">
                                    <i class="fas fa-users"></i> 4
                                </span>
                                <span class="customer-bag">
                                    <i class="fas fa-suitcase-rolling"></i> 3
                                </span>
                            </div>
                            <div class="card_4">
                                <span>
                                    <i class="fas fa-user"></i>
                                    <span>
                                        Ahmet Can Tiryaki
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-car"></i>
                                    <span>
                                        Mercedes-Benz / Vito
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-phone-alt"></i>
                                    <span>+905339401855</span>
                                </span>
                            </div>
                            <div class="card_5">
                                <span><i class="fas fa-credit-card"></i> <b>34.00 $ (ödeme)</b></span>
                                <span><i class="fas fa-money-check-alt"> </i><b> 40.00 $ (brüt)</b></span>
                            </div>
                        </div>
                        <div class="card-buttons">
                            <button class="btn-detail">Detaylar</button>
                            <button class="btn-problem">Sorun Bildir</button>
                            <button class="btn-assign">Atamak</button>
                            <button class="btn-cancel">Reddetmek</button>
                            <button class="btn-cns">CNS Kanıtı Yükleyin</button>
                        </div>
                    </div>
                    <div class="reservation_flex">
                        <div class="reservation_card">
                            <div class="card_1">
                                <span>- 27 Aralık 2023</span>
                                <span class="time">- 17:30 / 18:30</span>
                                <span class="plane"><img src="./img/plane.png">TK78458 (Ankara)</span>
                            </div>
                            <div class="card_2">
                                <div class="card_2_alt">
                                    <span>Konum</span>
                                    <span class="user_location">
                                        Sabiha Gökçen Uluslararası
                                        Havalimanı (SAW)
                                    </span>
                                </div>
                                <div class="card_2_alt">
                                    <span>Hedef</span>
                                    <span class="user_location">Hills Otel</span>
                                </div>

                            </div>
                            <div class="card_3">
                                <span>
                                    <i class="fas fa-user"></i>
                                    <span>
                                        Ahmet Can Tiryaki
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-phone-alt"></i>
                                    <span>+905339401855</span>
                                </span>
                                <span class="customer-count">
                                    <i class="fas fa-users"></i> 4
                                </span>
                                <span class="customer-bag">
                                    <i class="fas fa-suitcase-rolling"></i> 3
                                </span>
                            </div>
                            <div class="card_4">
                                <span>
                                    <i class="fas fa-user"></i>
                                    <span>
                                        Ahmet Can Tiryaki
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-car"></i>
                                    <span>
                                        Mercedes-Benz / Vito
                                    </span>
                                </span>
                                <span>
                                    <i class="fas fa-phone-alt"></i>
                                    <span>+905339401855</span>
                                </span>
                            </div>
                            <div class="card_5">
                                <span><i class="fas fa-credit-card"></i> <b>34.00 $ (ödeme)</b></span>
                                <span><i class="fas fa-money-check-alt"> </i><b> 40.00 $ (brüt)</b></span>
                            </div>
                        </div>
                        <div class="card-buttons">
                            <button class="btn-detail">Detaylar</button>
                            <button class="btn-problem">Sorun Bildir</button>
                            <button class="btn-assign">Atamak</button>
                            <button class="btn-cancel">Reddetmek</button>
                            <button class="btn-cns">CNS Kanıtı Yükleyin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>function createAlert(title, summary, details, severity, dismissible, autoDismiss, appendToId) {
            debugger;
            var iconMap = {
                info: "fa fa-info-circle",
                success: "fa fa-thumbs-up",
                warning: "fa fa-exclamation-triangle",
                danger: "fa ffa fa-exclamation-circle"
            };

            var iconAdded = false;

            var alertClasses = ["alert", "animated", "flipInX"];
            alertClasses.push("alert-" + severity.toLowerCase());

            if (dismissible) {
                alertClasses.push("alert-dismissible");
            }

            var msgIcon = $("<i />", {
                "class": iconMap[severity] // you need to quote "class" since it's a reserved keyword
            });

            var msg = $("<div />", {
                "class": alertClasses.join(" ") // you need to quote "class" since it's a reserved keyword
            });

            if (title) {
                var msgTitle = $("<h4 />", {
                    html: title
                }).appendTo(msg);

                if (!iconAdded) {
                    msgTitle.prepend(msgIcon);
                    iconAdded = true;
                }
            }

            if (summary) {
                var msgSummary = $("<strong />", {
                    html: summary
                }).appendTo(msg);

                if (!iconAdded) {
                    msgSummary.prepend(msgIcon);
                    iconAdded = true;
                }
            }

            if (details) {
                var msgDetails = $("<p />", {
                    html: details
                }).appendTo(msg);

                if (!iconAdded) {
                    msgDetails.prepend(msgIcon);
                    iconAdded = true;
                }
            }


            if (dismissible) {
                var msgClose = $("<span />", {
                    "class": "close", // you need to quote "class" since it's a reserved keyword
                    "data-dismiss": "alert",
                    html: "<i class='fa fa-times-circle'></i>"
                }).appendTo(msg);
            }

            $('#' + appendToId).prepend(msg);

            if (autoDismiss) {
                setTimeout(function () {
                    msg.addClass("flipOutX");
                    setTimeout(function () {
                        msg.remove();
                    }, 1000);
                }, 5000);
            }
        }
        var urlParams = window.location.pathname;
        var url = decodeURIComponent(urlParams.toString().replace(/\+/g, '%20'));
        console.log(url)
        if (url.length > 1) {
            $('a.active').removeClass('active');
            $('a[href*="' + url + '"]').parent().parent().children('a').addClass('active');
        }
        else {
            $('a.active').removeClass('active');
            $('a[href="/"]').addClass('active')
        }</script>